{
  env: {
    development: {
      presets: ["babel-preset-ts-node4-bluebird"],
      plugins: [
        "./scripts/babel-plugin-version-transform.js",
      ],
    },
    test: {
      sourceMaps: "inline",
      presets: ["babel-preset-ts-node4-bluebird"],
      plugins: [
        [
          "transform-async-to-module-method",
          {
            module: "bluebird-lst",
            method: "coroutine"
          }
        ],
        [
          "transform-inline-imports-commonjs",
          {
            excludeModules: ["path", "debug"]
          }
        ],
      ]
    }
  }
}