# .editorconfig for electron-builder
#
# More info inside CONTRIBUTING.md

# For all files in this project:
#  - 2-space soft tabs
#  - Trim trailing whitespace
[*]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
