{
    "rules": {
        "indent": [ 2, 2, { "SwitchCase" : 1 } ],
        "quotes": [ 2, "single" ],
        "linebreak-style": [ 2, "unix" ],
        "semi": [ 2, "always" ],
        "key-spacing": [ 2, { "align": "colon", "beforeColon": true, "afterColon": true } ],
        "object-curly-spacing": [ 2, "always" ],
        "array-bracket-spacing": [ 2, "always" ],
        "space-in-parens": [ 2, "always" ],
        "no-mixed-spaces-and-tabs": 1,
        "max-len": [1, 80, 2], // 2 spaces per tab, max 80 chars per line
        "no-inner-declarations": [1, "both"]
    },
    "env": {
        "es6": true,
        "node": true
    }
}
