{
    "rules": {
        "indent": [
            2,
            2
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-multi-spaces" : false,
        "key-spacing": [
            2, {
              "beforeColon": true,
              "afterColon": true
            }
        ],
        "space-in-brackets": [
            2,
            "always"
        ],
        "space-in-parens": [
            2,
            "always"
        ]
    },
    "env": {
        "es6": true,
        "node": true
    }
}
