node_modules/
*.log

#**/out/**/*
#!**/*js.snap

dist/

/.idea/compiler.xml
/.idea/encodings.xml
/.idea/workspace.xml
/.idea/copyright/
/.idea/deployment.xml
/.idea/shelf/

/docs/.idea/

.DS_Store

/packages/*/out/
/out/
# to not exclude .js.snap (jest snapshots)
/test/out/**/*.js
/test/out/**/*.map
/test/test-report.xml

/packages/electron-builder/README.md
/packages/electron-builder/scheme.json

/scripts/jsdoc/out/

electron-builder-*.d.ts

/_book/

/scripts/renderer/out/

__publish.sh