node_modules/
*.log

#**/out/**/*
#!**/*js.snap

dist/

/.idea/compiler.xml
/.idea/encodings.xml
/.idea/workspace.xml
/.idea/copyright/
/.idea/deployment.xml
/.idea/shelf/

/docs/.idea/

/typings/browser/
/typings/browser.d.ts
/typings/main.d.ts

.DS_Store

/test/typings/electron-builder.d.ts
/test/typings/electron-auto-updater.d.ts

/nsis-auto-updater/out/
/out/
# to not exclude .js.snap (jest snapshots)
/test/out/**/*.js
/test/out/**/*.map