[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs-material = "<10"
mkdocs = "<1.7"
markdown-include = "<0.8.1"
pymdown-extensions = "~=10.3"
pygments = "~=2.0"

[dev-packages]

[requires]
python_version = "3"
