[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs-material = "<9"
mkdocs = "<1.3"
markdown-include = "<1"
pymdown-extensions = "~=10.3"
pygments = "~=2.0"

[dev-packages]

[requires]
python_version = "3"
