[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
mkdocs-include-markdown-plugin = "*"
pymdown-extensions = "*"
pygments = "*"
mkdocs-material = "*"

[dev-packages]

[requires]
python_version = "3.8"
