name: Docker Deployment

on:
  # release:
  #   types: [published]
  push:
    tags:
      - docker*
  workflow_dispatch:

permissions:
  contents: read

jobs:
  run-docker-build-and-test:
    uses: ./.github/workflows/test.yaml
    with:
      rebuild-docker-images: true

  deploy:
    name: Build and Push Docker
    needs: run-docker-build-and-test
    runs-on: ubuntu-latest

    steps:
      - name: Download images artifact - node20
        uses: actions/download-artifact@v4
        with:
          name: electron-builder-all-20
          path: ${{ runner.temp }}

      - name: Download images artifact - node18
        uses: actions/download-artifact@v4
        with:
          name: electron-builder-all-18
          path: ${{ runner.temp }}

      - name: Download images artifact - node16
        uses: actions/download-artifact@v4
        with:
          name: electron-builder-all-16
          path: ${{ runner.temp }}

      - name: Download images artifact - node14
        uses: actions/download-artifact@v4
        with:
          name: electron-builder-all-14
          path: ${{ runner.temp }}

      - name: Load all images
        run: |
          find -type f -name "${{ runner.temp }}/electron-builder-all-*.tar" -exec docker image load --input "{}" \;
          docker image ls -a

      - name: Login to DockerHub
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push all Docker images
        if: github.event_name != 'workflow_dispatch'
        run: echo "TESTING step logic. (this will trigger docker push)"
        # run: docker image push --all-tags electronuserland/builder

