name: Docker Deployment

on:
  # release: 
  #   types: [published] 
 push:
   tags:
     - docker*

permissions:
  contents: read

jobs:
  deploy:
    name: Build and Push Docker
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code repository
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3
      
      - name: Login to DockerHub
        uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc # v2 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build all Docker images
        run: sh ./docker/build.sh

      - name: Push all Docker images
        run: sh ./docker/push.sh
