name: Build Docker Images

on:
  workflow_call:

permissions:
  contents: read

jobs:
  build-docker-images:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        nodeVersion: [
          22.14.0,
          20.18.3,
          18.20.7,
          16.20.2,
          14.21.3
        ]
    steps:
      - name: Checkout code repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Cleanup runner
        uses: ./.github/actions/cleanup-runner

      - name: Extract node major version to tag docker images
        run: echo "NODE_TAG=$(cut -d '.' -f 1 <<< ${{ matrix.nodeVersion }})" >> $GITHUB_ENV

      - name: Builds all images
        shell: bash
        run: |
          bash docker/build.sh ${{ matrix.nodeVersion }}

      - name: List and export images
        shell: bash
        run: |
          docker images --filter=reference="electronuserland/builder:*"
          docker save -o ${{ runner.temp }}/electron-builder-all-${{ env.NODE_TAG }}.tar electronuserland/builder

      - name: Bundle all images
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: electron-builder-all-${{ env.NODE_TAG }}
          path: ${{ runner.temp }}/electron-builder-all-${{ env.NODE_TAG }}.tar
          retention-days: 1
          if-no-files-found: error
