name: Release

on:
  push:
    branches:
      - master
env:
  HUSKY: 0 # Bypass husky commit hook for CI
  PNPM_CACHE_FOLDER: .pnpm-store
jobs:
  pr-release:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: checkout code repository
        uses: actions/checkout@v2
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0

      - uses: pnpm/action-setup@v2
        with:
          version: 6.10.0

      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'pnpm'
      
      - name: Set up NPM credentials
        run: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - run: pnpm install
      
      - name: Create versions PR & prepare publish
        uses: changesets/action@master
        with:
          version: pnpm ci:version
          commit: 'chore(deploy): Release'
          title: 'chore(deploy): Release'
          publish: pnpm ci:publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}