name: Test

on:
  push:
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      build-docker-locally:
        type: boolean
        description: Force rebuild docker images for CI tests
        required: false

jobs:
  test-linux:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        testFiles:
          - ArtifactPublisherTest,BuildTest,ExtraBuildTest,RepoSlugTest,binDownloadTest,configurationValidationTest,filenameUtilTest,filesTest,globTest,ignoreTest,macroExpanderTest,mainEntryTest,urlUtilTest,extraMetadataTest,linuxArchiveTest,linuxPackagerTest,HoistedNodeModuleTest,PublishManagerTest
          - snapTest,debTest,fpmTest,protonTest
    steps:
      - name: Checkout code repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install deps and audit
        uses: ./.github/actions/pnpm

      - name: Determine if Dockerfiles changed
        id: changed-files
        uses: tj-actions/changed-files@v13

      - name: Dockerfile has changed, rebuild for tests
        if: ${{ github.event.inputs.build-docker-locally == 'true' }} || contains(steps.changed-files.outputs.all_changed_files, 'Dockerfile') || contains(steps.changed-files.outputs.all_changed_files, 'docker')
        run: pnpm docker-images

      - name: Compile and Lint
        run: pnpm pretest
      
      - name: Cache ~/.cache/electron
        uses: actions/cache@v2
        with:
          path: ~/.cache/electron
          key: v-11.0.0-electron

      - name: Run tests in docker image
        run: pnpm test-linux
        env:
          TEST_FILES: ${{ matrix.testFiles }}
          FORCE_COLOR: 1
  
  test-mac:
    runs-on: macos-latest
    strategy:
      matrix:
        testFiles:
          - masTest,dmgTest,protonTest
    steps:
      - name: Checkout code repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install deps and audit
        uses: ./.github/actions/pnpm

      - name: Compile
        run: pnpm compile
      
      - name: Cache ~/Library/Caches/electron
        uses: actions/cache@v2
        with:
          path: ~/Library/Caches/electron
          key: v-11.0.0-mac-electron

      - name: Test
        run: node ./test/out/helpers/runTests.js
        env:
          TEST_FILES: ${{ matrix.testFiles }}
          FORCE_COLOR: 1

  test-windows:
    runs-on: windows-2019
    strategy:
      matrix:
        testFiles:
          - installerTest,appxTest,msiTest,portableTest,assistedInstallerTest,protonTest
          - oneClickInstallerTest,nsisUpdaterTest,winCodeSignTest,winPackagerTest,webInstallerTest
    steps:
      - name: Checkout code repository
        uses: actions/checkout@v2

      - name: Install deps and audit
        uses: ./.github/actions/pnpm

      - name: Compile
        run: pnpm compile
      
      - name: Cache ~\AppData\Local\Cache\electron
        uses: actions/cache@v2
        with:
          path: ~\AppData\Local\Cache\electron
          key: v-11.0.0-windows-electron
      
      - name: Test
        run: node ./test/out/helpers/runTests.js
        env:
          CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}
          KEYGEN_TOKEN: ${{ secrets.KEYGEN_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          BITBUCKET_TOKEN: ${{ secrets.BITBUCKET_TOKEN }}
          TEST_FILES: ${{ matrix.testFiles }}
          FORCE_COLOR: 1
